#mainBorderPane {
    -fx-background-color: #d13e58;
    -fx-font-family: Arial;
}

#loadXMLButton {
    -fx-background-color: #ea4f46;
    -fx-background-radius: 0.5em;
}

#loadXMLButton:hover {
    -fx-background-color: #f55a51;
}

.top-bar-label {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 1, 0, 1, 1);
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

#loadXMLErrorLabel.top-bar-label {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.25), 1, 0, 1, 1);
    -fx-text-fill: #143465;
    -fx-font-size: 10px;
}

#currentMachineConfiguration {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 1, 0, 1, 1);
    -fx-font-size: 24px;
    -fx-font-weight: Bold;
}

.menu-pressed-button {
    -fx-background-color:  #fbc2c2;
    -fx-border-color: #ff7676;
    -fx-border-width: 4px;
    -fx-background-radius: 0.5em;
    -fx-text-fill: #323232;
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
}

.menu-button {
    -fx-background-color:  #f6f6f6;
    -fx-border-color: #f6f6f6;
    -fx-border-width: 4px;
    -fx-background-radius: 0.5em;
    -fx-text-fill: #323232;
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
}

.menu-button:hover {
    -fx-background-color:  #fbc2c2;
    -fx-border-color: #ff7676;
    -fx-border-width: 4px;
    -fx-background-radius: 0.5em;
    -fx-text-fill: #323232;
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
}

.generateRandomCodeButton {
    -fx-background-color: #db6579;
}

.generateRandomCodeButton:hover {
    -fx-background-color: #e67084;
    -fx-text-fill: #e7e7e7;
}

.setCodeButton {
    -fx-background-color: #f6f6f6;
    -fx-text-fill: #dcdcdc;
}

.setCodeButton:hover {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #000000;
}

.resetMachineStateButton {
    -fx-background-color: #25bfc5;
}

.resetMachineStateButton:hover {
    -fx-background-color: #08b1d5;
}

.choice-box ,.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #505050;
    -fx-border-width: 2;
}

.configuration-flow-pane {
    -fx-text-fill: #323232;
    -fx-font-size: 16px;
    -fx-hgap: 6px;
}

.menu-choice-box {
    -fx-font-size: 14px;
    -fx-padding: 0em 0em 0em 0em;
}

#xmlFilePathTextField {
    -fx-opacity: 1px;
}

#reflectorChoiceBox .label {
    -fx-font-size: 18px;
    -fx-padding: 0em 0em 0em 0em;
}

#configurationLabel {
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
    -fx-text-fill: #1f1f1f;
}

.button {
    -fx-cursor: Hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 0);
}